@font-face {
    font-family: Elektroblooming;
    src: url(/src/fonts/Elektroblooming.ttf);
}

:root {
    --containerWidth: 400px;
    --containerHeight: calc(var(--containerWidth) - 110px);
    --screenWidth: calc(var(--containerWidth) - 50px);
    --screenHeight: calc(var(--containerHeight) - 50px);
    --fragmentWidth: calc(var(--containerWidth) / 6);
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    touch-action: manipulation;
    background-color: rgb(66, 66, 66);
}

#gameContainer {
    z-index: 2;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--containerWidth);
    height: var(--containerHeight);
    background-color: rgb(152, 69, 69);
}
#pizzaSign {
    font-family: Elektroblooming, Courier, monospace;
    font-size: 100px;
    z-index: 4;
    position: absolute;
    top: 0;
    margin-top: -100px;
    color: white;
}
#roofContainer {
    z-index: 3;
    position: absolute;
    top: 0;
    margin-top: -125px;
    width: calc(var(--containerWidth));
    height: 70px;
    border-bottom: 65px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
#screenContainer {
    z-index: 4;
    display: flex;
    gap: 1px;
    width: var(--screenWidth);
    height: var(--screenHeight);
    background-color: gray;
}
#screenBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: var(--screenWidth);
    height: var(--screenHeight);
    background-color: rgba(107, 107, 107, 0.3);
}
#door {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 100px;
    border-style: solid;
    border-width: 3px;
    border-bottom: 0;
    border-color: rgb(70, 70, 70);
}
#doorKnob {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(70, 70, 70);
    margin-left: 2px;
}
#pizzaLogo {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    height: 120px;
    filter: opacity(20%);
    transform: rotate(30deg);
}
.window {
    position: absolute;
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(70, 70, 70);
}
.windowInvisBorder {
    position: absolute;
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 60px;
    border-color: rgba(0, 0, 0, 30%);
}
#windowBorder1 {
    top: 0;
    left: 0;
    margin-top: 23%;
    margin-left: -6%;
}
#window1 {
    top: 0;
    left: 0;
    margin-top: 39%;
    margin-left: 10%;
}
#window2 {
    top: 0;
    right: 0;
    margin-top: 39%;
    margin-right: 10%;
}
#window3 {
    top: 0;
    margin-top: 10%;
    width: 280px;
    height: 70px;
}

.screenFragment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--fragmentWidth);
    height: 100%;
    background-color: rgb(119, 119, 119);
}

.player {
    z-index: 7;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 45px;
}

.chef {
    z-index: 7;
    display: none;
    position: absolute;
    top: 0;
    margin-top: -40px;
    height: 45px;
}

.fallingObject {
    z-index: 7;
    position: absolute;
    top: 0;
    width: 20px;
    height: 30px;

    animation: falling 1.8s steps(10) infinite;
}

.flip {
    transform: scaleX(-1);
}

@keyframes falling {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(610%);
    }
}
